@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");
@import url("reset.css");

/* обвертка */
.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.header {
   font-family: "Epilogue", sans-serif;
   min-height: 60px;
   padding-top: 5px;
   font-size: 50px;
   letter-spacing: 10px;
   text-align: center;
   background-color: #48be4393;
}

/* фон секции, шрифт*/
.section {
   background-color: #F3D1BF;
   font-family: "Epilogue", sans-serif;
   font-size: 0;
}

/* ограничение по ширине */
.container {
   max-width: 1200px;
   min-height: 944px;
   margin: 0 auto;
   padding-inline: 15px;
}

/* обвертка для контента */
.info {
   max-width: 470px;
   display: inline-block;
}


/* подзаголовок */
.subtitle {
   padding-top: 320px;
   color: #EF6D58;
   line-height: 32px;
   /* 200% */
   letter-spacing: 3px;
   text-transform: uppercase;
   margin-bottom: 20px;
}

/* заголовок */
.title {
   color: #391400;
   font-size: 56px;
   font-weight: 800;
   line-height: 1.1;
   letter-spacing: -1px;
   margin-bottom: 26px;
}

/* текст */
.text {
   color: #391400;
   font-size: 20px;
   line-height: 1.6;
   margin-bottom: 26px;
}

/* список */
.list-item {
   background: url("../img/check.png") 0 0 / 32px no-repeat;
   padding-left: 48px;
   min-height: 32px;
   margin-bottom: 16px;
   color: rgba(57, 20, 0, 0.64);
   font-size: 16px;
   line-height: 2;
}

/* обвертка для картинки */
.image {
   max-width: 530px;
   margin-left: 170px;
   display: inline-block;
   vertical-align: top;
   padding-top: 215px;
}

/* ===================================================== */
.section-cinema {
   font-family: "Manrope", sans-serif;
   min-height: 1110px;
   background-color: #141414;
   background:
      linear-gradient(180deg, rgba(20, 20, 20, 0.00) 0%, #141414 100%),
      url("../img/poster.png") center / cover no-repeat;

}

/* ограничение по ширине */
.container-cinema {
   max-width: 1627px;
   margin: 0 auto;
   padding-inline: 15px;
   padding-top: 195px;
}

/* логотип */
.cinema-logo {
   max-width: 470px;
   margin: 0 auto;
   margin-bottom: 195px;
}

/* ограничени контента*/
.cinema-content {
   max-width: 1126px;
   margin: 0 auto;
   padding-inline: 15px;

}

/* заголовок */
.content-title {
   color: #FFF;
   text-align: center;
   font-size: 58px;
   font-weight: 700;
   line-height: 1.5;
   text-transform: capitalize;
   margin-bottom: 14px;
}

/* текст */
.content-text {
   color: #999;
   text-align: center;
   font-size: 18px;
   line-height: 1.5;
   margin-bottom: 50px;
}

/* кнопка */
.button {
   display: block;
   margin: 0 auto;
   max-width: 251px;
   background-color: #E50000;
   border-radius: 8px;
   padding: 18px 24px;
}

span {
   background: url("../img/icon-button.png") left / 28px no-repeat;
   min-height: 28px;
   padding-left: 32px;
   color: #FFF;
   font-size: 18px;
   font-weight: 600;
   line-height: 1.5;
}