@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");
@import url("reset.css");

/* обвертка */
.wrapper {
   min-height: 100%;
   overflow: hidden;
}

/* фон секции, шрифт*/
.section {
   background-color: #F3D1BF;
   font-family: "Epilogue", sans-serif;
   font-size: 0;
   /* font-size: 16px; */
}

/* ограничение по ширине */
.container {
   max-width: 1200px;
   min-height: 944px;
   margin: 0 auto;
   padding-inline: 15px;
}

/* обвертка для контента */
.info {
   max-width: 470px;
   display: inline-block;
}

/* подзаголовок */
.subtitle {
   font-size: 16px;
   padding-top: 320px;
   color: #EF6D58;
   line-height: 32px;
   letter-spacing: 3px;
   text-transform: uppercase;
   margin-bottom: 20px;
}

/* заголовок */
.title {
   color: #391400;
   font-size: 56px;
   font-weight: 800;
   line-height: 1.1;
   letter-spacing: -1px;
   margin-bottom: 26px;
}

/* текст */
.text {
   color: #391400;
   font-size: 20px;
   line-height: 1.6;
   margin-bottom: 26px;
}

/* список */
.list-item {
   background: url("../img/check.png") 0 0 / 32px no-repeat;
   padding-left: 48px;
   min-height: 32px;
   margin-bottom: 16px;
   color: rgba(57, 20, 0, 0.64);
   font-size: 16px;
   line-height: 2;
}

/* обвертка для картинки */
.image {
   max-width: 530px;
   margin-left: 170px;
   display: inline-block;
   vertical-align: top;
   padding-top: 215px;
}

/* ===================================================== */


.section-cinema {
   font-family: "Manrope", sans-serif;
   background: #141414;
}

/* задний фон */
.cinema-background {
   min-height: 860px;
   background:
      linear-gradient(180deg, rgba(20, 20, 20, 0.00) 0%, #141414 100%),
      url("../img/poster.png") center / cover no-repeat;
}

.logo-image {
   max-width: 100%;
   min-height: 100%;
}

/* логотип */
.cinema-logo {
   max-width: 470px;
   margin: 0 auto;
   padding-top: 195px;
}

/* ограничение контента */
.cinema-text {
   max-width: 1126px;
   margin: 0 auto;
   padding-inline: 15px;
   margin-top: -64px;
}

/* заголовок */
.text-title {
   color: #FFF;
   text-align: center;
   font-size: 58px;
   font-weight: 700;
   line-height: 1.5;
   margin-bottom: 14px;
}

/* текст */
.text-text {
   color: #999;
   text-align: center;
   font-size: 18px;
   line-height: 1.5;
   margin-bottom: 50px;
}

.button {
   background-color: #E50000;
   border-radius: 8px;
   padding: 18px 24px;
   max-width: 251px;
   display: block;
   margin: 0 auto;
}

span {
   background: url("../img/icon-button.png") left / 28px no-repeat;
   padding-left: 32px;
   min-height: 28px;
   color: #FFF;
   font-size: 18px;
   font-weight: 600;
   line-height: 1.5;
   display: inline-block;
}