/* default properties */
body {
  font-family: "Inter Display", sans-serif;
}

.header__title {
  color: green;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.properties__title {
  color: lightseagreen;
  font-style: italic;
  letter-spacing: 5px;
}
.properties__item {
  color: brown;
}

/* ============================ */
/* font property */
/* ============================ */
/* font-family */
.parameter__value--font-family {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* font-size */
.parameter__value--font-size {
  font-size: 30px;
}

/* font-style */
.parameter__value--font-normall {
  font-style: normal;
}
.parameter__value--font-italic {
  font-family: "Inter Display", sans-serif;
  font-style: italic;
}
.parameter__value--font-oblique {
  font-style: oblique;
}

/* font-weight */
.parameter__value--font-100 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: blue;
}
.parameter__value--font-200 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: blue;
}
.parameter__value--font-300 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: blue;
}
.parameter__value--font-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: blue;
}
.parameter__value--font-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: blue;
}
.parameter__value--font-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: blue;
}
.parameter__value--font-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: blue;
}
.parameter__value--font-800 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: blue;
}
.parameter__value--font-900 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: blue;
}

/* ============================ */
/* text property */
/* ============================ */
/* color */
.parameter__value--color {
  color: red;
}

/* text-align */
.parameter__value--left {
  text-align: left;
}
.parameter__value--right {
  text-align: right;
}
.parameter__value--centr {
  text-align: center;
}
.parameter__value--justify {
  text-align: justify;
}
/* ======================= */
/* text-decoration */
/* ======================= */
/* text-decoration-line */
.decoration__value--overline {
  text-decoration-line: overline;
}
.decoration__value--underline {
  text-decoration-line: underline;
}
.decoration__value--line-through {
  text-decoration: line-through;
}

/* text-decoration-style */
.decoration__value--solid {
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.decoration__value--double {
  text-decoration-line: underline;
  text-decoration-style: double;
}
.decoration__value--dashed {
  text-decoration-line: underline;
  text-decoration-style: dashed;
}
.decoration__value--dotted {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
.decoration__value--wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

/* text-decoration-color */
.decoration__value--color {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: red;
}

/* text-decoration-thickness */
.decoration__value--thickness {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: blue;
  text-decoration-thickness: 5px;
}

/* text-decoration-offset */
.decoration__value--offset {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: orange;
  text-underline-offset: 10px;
}

/* text-shadow */
.parameter__value--shadow {
  text-shadow: 5px 5px 2px blue;
}
.parameter__value--multi {
  text-shadow:
    5px 5px 2px orange,
    -5px -5px 1px red;
  text-transform: uppercase;
  text-transform: lowercase;
  text-transform: capitalize;
}

/* text-transform */
.parameter__value--uppercase {
  text-transform: uppercase;
}
.parameter__value--lowercase {
  text-transform: lowercase;
}
.parameter__value--capitalize {
  text-transform: capitalize;
}

/* letter-spacing */
.parameter__value--letter-spacing {
  letter-spacing: 10px;
}

/* word-spacing */
.parameter__value--word-spacing {
  word-spacing: 20px;
}

/* white-spase */
.parameter__value--white-spase {
  white-space: nowrap;
}

/* line-height */
.parameter__value--line-height {
  line-height: 3;
}
/* ================================================== */
/* ================================================== */
.nature {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.5px;
}
.nature__container {
}
.nature__title {
   font-size: 50px;
   color: #131313;
}
.nature__title > span {
   font-weight: 700;
   color: #1aaf5b;
}
.nature__text {
   opacity: 0.6;
}
